<div class="w-full max-w-4xl mx-auto">
  <div class="flex gap-24">
    <h1 class="mt-10 text-3xl font-bold">Мой профиль</h1>
    <h1 class="mt-10 text-3xl font-bold">Редактирование</h1>
    <button [routerLink]="['../']"  class="mt-10 text-center w-32 bg-[#4FACE2] text-[#FFFFFF] py-3.5 rounded-3xl mb-10 font-semibold">Назад</button>
  </div>
  <div class="flex gap-16">
    <div>
      <li  class=" flex flex-col  pb-4 border w-64 items-center bg-[#FFFFFF] rounded-2xl  relative">
        <img class="w-full h-36  object-center  rounded-t-2xl" uiImageLoader onErrorSrc="https://sun3-22.userapi.com/impf/DW4IDqvukChyc-WPXmzIot46En40R00idiUAXw/l5w5aIHioYc.jpg?quality=96&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360&sign=10ad7d7953daabb7b0e707fdfb7ebefd&u=I6EtahnrCRLlyd0MhT2raQt6ydhuyxX4s72EHGuUSoM&cs=200x200"
        [src]="user.avatar">
        <h1 class="mt-2">{{user.first_name}}</h1>
        <h1 class="">{{ user.email}}</h1>
      </li>
    </div>
    <div [formGroup]="editProfile">
      <h4 class="mt-2">Изменить аватар:</h4>
      <div class="w-64 relative flex flex-row justify-between border border-[#8e8e8e] rounded-2xl">
        <input formControlName="avatar" type=" text"  class="p-2.5 bg-[#FFFFFF] text-black  rounded-2xl w-full outline-none">
      </div>
      <h4 class="mt-2">Изменить имя:</h4>
      <div class="w-64 relative flex flex-row justify-between border border-[#8e8e8e] rounded-2xl ">
        <input formControlName="first_name" type=" text"  class="p-2.5 bg-[#FFFFFF] text-black  rounded-2xl w-full outline-none">
      </div>
      <h4 class="mt-2">Изменить email:</h4>
      <div class="w-64 relative flex flex-row justify-between border border-[#8e8e8e] rounded-2xl ">
        <input formControlName="email" type=" text"  class="p-2.5 bg-[#FFFFFF] text-black  rounded-2xl w-full outline-none">
      </div>
      <button (click)="edit()"  class="mt-4 text-center w-64 bg-[#4FACE2] text-[#FFFFFF] py-3.5 rounded-3xl mb-10 font-semibold">Сохранить</button>
    </div>
  </div>

</div>
