

<div class="w-full max-w-4xl mx-auto">
  <div class="flex justify-between">
    <button [routerLink]="['/home/myprofile']" class="mt-10 text-center  w-32 bg-[#4FACE2] text-[#FFFFFF] py-3.5 rounded-3xl mb-10 font-semibold">Мой профиль</button>
    <button [routerLink]="['/register']"  (click)="logout()" class="mt-10 text-center  w-32 bg-[#960018] text-[#FFFFFF] py-3.5 rounded-3xl mb-10 font-semibold">Выйти</button>
  </div>
  <div class="flex mb-5 gap-4">
    <input [(ngModel)]="userEmaiValue" type="mail" placeholder="Поиск по почте" class="p-2.5 bg-[#FFFFFF] rounded-2xl text-black w-full border ">
    <button   (click)="search()" class="text-center mx-auto w-32 bg-[#4FACE2] text-[#FFFFFF] py-3.5 rounded-3xl  font-semibold">Найти</button>
  </div>
  <div class="flex mb-5 gap-4">
    <input [(ngModel)]="userIdValue" type="mail" placeholder="Поиск по id" class="p-2.5 bg-[#FFFFFF] rounded-2xl text-black w-full border ">
  </div>
  <div class="mb-10 flex justify-between flex-wrap gap-5">
    <button  [ngClass]="{selectEven: isEvenValue}" (click)="isEven()" class="text-center  w-32 bg-[#4FACE2] text-[#FFFFFF] py-3.5 rounded-3xl  font-semibold">Только четные</button>
    <button  [ngClass]="{selectOdd: isOddValue}"  (click)="isOdd()" class="text-center  w-40 bg-[#4FACE2]  text-[#FFFFFF] py-3.5 rounded-3xl  font-semibold">только нечетные</button>
    <button  (click)="reset()" class="text-center  w-40 bg-[#4FACE2] text-[#FFFFFF] py-3.5 rounded-3xl  font-semibold">Сброс</button>
    <pagination-controls class="flex items-center" (pageChange)="page=$event"></pagination-controls>

  </div>
  @if (usersList$ | async; as usersList) {
    <ul class="flex  flex-wrap gap-16 items-center justify-center">
    @for (user of (usersList| filter:filterData ) | paginate:{itemsPerPage: 6, currentPage: page } ; track user.id) {
      <div class="group cursor-pointer">
        <li (click)="redirectTo(user.id)" class="flex flex-col group group-hover:bg-sky-600  pb-4 border w-64 items-center bg-[#FFFFFF] rounded-2xl  relative">
          <img class="w-full h-36  object-center  rounded-t-2xl" src="{{user.avatar}}" alt="" >
          <h1 class="mt-4  group-hover:text-white">{{user.first_name}}</h1>
          <h1 class=" group-hover:text-white">{{user.email}}</h1>
        </li>
      </div>


    }
  </ul>
  }
</div>
